/*
 * Web Device Information
 * Copyright (C) 2014, Nicola Spanti (also known as RyDroid) <dev@nicola-spanti.info>
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */


@charset "UTF-8";


/* Text */

.text-left
{
	text-align: left;
}

.text-right
{
	text-align: right;
}

.text-center
{
	text-align: center;
}

.text-justify
{
	text-align: justify;
}

.bold
{
	font-weight: bold;
}

.bolder
{
	font-weight: bolder;
}

.underline
{
	text-decoration: underline;
}

.italic
{
	font-style: italic;
}

.oblique
{
	font-style: oblique;
}

.black
{
	color: black;
}

.white
{
	color: white;
}

.blue
{
	color: blue;
}

.red, .invalid
{
	color: red;
}

.green, .valid
{
	color: green;
}


/* List */

ul.disc
{
	list-style-type: disc;
}

ul.circle
{
	list-style-type: circle;
}

ul.square
{
	list-style-type: square;
}

ul.square
{
	list-style-type: square;
}

ul.lower-latin
{
	list-style-type: lower-latin;
}

ul.upper-latin
{
	list-style-type: upper-latin;
}


/* Float */

.float-left
{
	float: left;
}

.float-right
{
	float: right;
}


/* Minimum width to display */

@media (max-width: 700px)
{
	.display-min-width-700px
	{
		display: none;
	}
}
