/*
 * Web Device Information
 * Copyright (C) 2014, Nicola Spanti (also known as RyDroid) <dev@nicola-spanti.info>
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */


@charset "UTF-8";

@import url("classes.css");


@viewport
{
	width: device-width;
}

*
{
	max-height: 100%;
	max-width:  100%;
	
	font-family: "DejaVu Serif", serif;
}

body
{
	margin: 0;
}

body > header,
body > main,
body > section
{
	padding: 9px;
}

@media (min-width: 950px)
{
	body > header,
	body > main,
	body > section
	{
		padding: 12px;
	}
}

body > header
{
	margin: 0;
	margin-bottom: 10px;
	
	background-color: grey;
	color: white;
}

body > header *
{
	margin: 0;
	font-size: xx-large;
}

body > header a[title="back"]
{
	float: left;
	
	padding: 1px;
	margin-right: 12px;
	
	vertical-align: middle;
	
	border: 1px solid white;
	border-radius: 5px;
	
	color: inherit;
	text-decoration: none;
	font-weight: 700;
}

body > main
{
	margin-top: 0;
	padding-top: 0;
}

h2, h3
{
	border-style: solid;
	border-width: 0 0 1px 0;
	border-style: solid;
	margin-bottom: 8px;
}

h2
{
	border-bottom: 4px solid;
}

h3
{
	border-bottom: 2px solid;
}

main nav > ul
{
	margin: 0;
	padding: 0;
}

main nav ul,
main nav ul li,
main nav ul li a
{
	display: block;
}

main nav ul li a,
main nav ul li a:visited
{
	padding: 5px 6px;
	background-color: grey;
	color: white;
	text-decoration: none;
}

@media (min-width: 1050px)
{
	main nav ul li a
	{
		letter-spacing: 2px;
	}
}

main nav ul li + li a
{
	border-top: 1px solid black;
}
